body {
  background: linear-gradient(
    180deg,
    #010208 16.39%,
    #010206 20.51%,
    #040008 24.79%,
    #010101 30.46%,
    #010101 34.11%,
    #010101 36.21%,
    #010101 100%
  );
}

.grad {
  position: absolute;
  z-index: 1;
  width: 572.95px;
  height: 552.48px;
  top: -250.13px;
  left: 96px;
  background: radial-gradient(
    37.26% 37.26% at 50% 50%,
    rgba(170, 20, 240, 0.31) 0%,
    rgba(170, 20, 240, 0) 100%
  );
}
.grad2 {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 1200px;
}
.grad3 {
  position: relative;
  bottom: 1900px;
  z-index: 1;
}
.grad4 {
  position: relative;
  bottom: 1900px;
  z-index: 1;
}
.grad5 {
  position: absolute;
  left: 1300px;
  top: 2500px;
}
