.main {
  margin: 6rem;
}
.heading1 {
  width: 300px;
  font-family: "Orbitron", sans-serif;
  color: white;
  font-weight: 900;
}
.para1 {
  position: relative;
  bottom: 40px;
  width: 300px;
  font-weight: 100;
  color: white;
  opacity: 0.5;
}

.btns {
  color: white;
  text-decoration: none;
  font-size: small;
}
.get-it {
  padding: 5px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
}
.img {
  position: relative;
  bottom: 300px;
  left: 900px;
}
.people {
  position: relative;
  bottom: 400px;
  display: flex;
  justify-self: center;
}
.detail {
  display: flex;
  text-align: center;
  align-items: center;
}
.para2 {
  position: relative;
  top: 7px;
}
